/* Reset et base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* Navigation */
header {
    background-color: #004d40;
    color: white;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a.active {
    background-color: #00796b;
    border-radius: 5px;
}

/* Conteneurs principaux */
.leaflet-control-attribution{
    display: none;
}